.feed {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
  transition: 0.3;
  animation: moveRight 0.2s;
}

.searchInput {
  position: fixed;
  max-width: 50vw;
  top: 16px;
  left: 50%;
  transform: translateX(-90px);
  z-index: 200;
}

@media (max-width: 550px) {
  .feed {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  .searchInput {
    max-width: 30vw;
    transform: translateX(-50px);
  }
}
