@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.loadingOverlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: #f3f3f3;
  font-size: 5rem;
}

.loadingOverlay::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #ddd;
  border-top-color: rgb(60, 60, 100);

  border-radius: 50%;
  animation: loading 0.8s ease infinite;
}

@media (max-width: 750px) {
  .loadingOverlay::after {
    border: 10px solid #ddd;
    border-top-color: rgb(60, 60, 100);

    width: 30px;
    height: 30px;
  }
}
